<% content_for :content do %>

	<div class="list_body">
		<% @articles.each do |article| %>
		<div class="list">
			<%= image_tag article.cover.url(:small), alt: article.title if article.cover %>
			<div class="l_c">
				<a href="<%= article_path(article) %>"><span><h2><%= article.title %></h2></span></a><br/>
			 	<p><%= truncate_html(article.content, length: 250, omission: '...') %></p>
			</div>
	 </div>
	 <% end if @articles %>
	</div>

<% end %>