<% content_for :content do %>
<div class="banner">
	<%= image_tag @article.cover.url(:large) %>
</div>
<div id="main_body">
	<div style="width:60%;text-align: center;margin-left: auto;
    margin-right: auto;">
    <p><h3><%= @article.title %></h3><br/></p>
		<%= @article.content.html_safe %>
	</div>
</div>
<div class="re_m">
  <% if @article.products.present? %>
  <div class="related"><span>相关产品：</span>
    <ul>
      <% @article.products.each do |product| %>
        <li><%= link_to product.title, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<% end %>