   <div class="header">
       <img class="title" src="/assets/title.png" alt="路克海外深度游" />
	   <img class="english" src="/assets/English.png" alt="English_version" />
   </div>
   <div class="logo">
       <img src="/assets/logo.png" alt="路克海外深度游"/>
   </div>
   <div class="banner">
	   <img src="/assets/banner.png" alt="路克海外深度游" />
	   <img src="/assets/intro.png" alt="路克海外深度游" />
   </div>
   
   <div id="main_body">
       <ul>
	       <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
		   <li><img src="/assets/trip_1.png" alt=""/></li>
	   </ul>
	   <img class="intro" src="/assets/intro.png" alt="路克海外深度游" />
   </div>
   <div class="re_m">
        <div class="related"><span>相关文章：</span>
	       <ul>
	           <li><a href="#nogo">路克海外深度游</a></li>
			   <li><a href="#nogo">路克海外深度游--x以及手机与电脑的海外旅游-彭浦及</a></li>
	       </ul>
	    </div>
    </div>
   <footer>
       <div class="f_c">
         <div class="f_dis f_1">
				       <div class="search">
					       <div id="uboxstyle">
									<select name="选择目的地" id="jquery">
										<option value="选择目的地"  selected="selected">选择目的地</option>
										<option value="南京" >南京</option>
										<option value="杭州" >杭州</option>
										<option value="西安" >西安</option>
										<option value="重庆" >重庆</option>
									</select>
								</div>
						</div>	
          <div>			
			   <ul>
			       <li><a href="#nogo">关于我们</a></li>
				   <li><a href="#nogo">联系我们</a></li>
			   </ul>
			</div>
	   </div>
	   <div class="f_1">
	    <div class="search" style="visibility:hidden;"></div>
	       <ul>
			       <li><a href="#nogo">关于我们</a>
				   <li><a href="#nogo">联系我们</a>
			   </ul>
	   </div>
	   <div class="f_1">
	    <div class="search" style="visibility:hidden;"></div>
	       <ul>
			       <li><a href="#nogo">关于我们</a>
				   <li><a href="#nogo">联系我们</a>
			   </ul>
	   </div>
	   </div>
   </footer>  
