     <script type="text/javascript">
     	var $j = jQuery.noConflict();
			$j(document).ready(function(){
				setTimeout(navClose,5000);
			});

			function navClose() {
				$j("#advertise_pic").hide();
			}
			</script> 
   <div class="index_show">
	<img src="/assets/banner_s.png" style="position:absolute;z-index:10086;" width="1290" height="480" id="advertise_pic"/>
     	<a class="show_1" href="#nogo">
	       <img src="<%= Doing.left_banner.last.cover_url(:banner) if Doing.left_banner.last %>"/>
			   <span class="zzjs">拉芳塔娜<br/>La FangTaNa</span>
			</a>
	   <video class="index_s at_cl_vedio video-js vjs-default-skin"
					  controls preload="auto" width="421" height="480"
					  poster="/assets/video_1.png"
					  data-setup='{"example_option":true}'>
					 <source src="http://weixin-videos.qiniudn.com/2d6d3665-4151-4c36-a52d-a4e5d6e242d8" type='video/mp4' />
					 <source src="http://weixin-videos.qiniudn.com/f5072bc3-57db-44c6-9301-ce8b23e81135" type='video/webm' />
					</video>
        <span class="zzjx">菲斯古城<br/>La FangTaNa</span>					
		<a class="show_1" href="#nogo">
	      <img src="<%= Doing.right_banner.last.cover_url(:banner) if Doing.right_banner.last %>"/>
		   <span class="zzj">佛罗伦萨<br/>FAS</span>
		</a>
   </div>

      <div class="lei">
      <img src="/assets/hotel.png" style="margin-left:295px;"/>
	  <img src="/assets/video.png" style="margin-left:250px;"/>
	  <img src="/assets/news.png" style="margin-left:280px;"/>
   </div>

    <div class="body_half">
     <div id="focus"></div>
	   <img src="/assets/what.png" />
       <script type="text/javascript" src="/assets/swfobject.js"></script>
       <script type="text/javascript">
				var pics = "";
				var links = "";
				var texts = ""; 
				<% left_doings = Doing.where(position: "左下").all %>
				<% left_doings.each_with_index do |doing,index| %>
					pics += "<%= doing.cover_url(:normal) %>";
					links += "#nogo";
					texts += "";
					<% if index < left_doings.size - 1 %>
						pics += "|";
						links += "|";
						texts += "|";				
					<% end %>
				<% end %>

				var so = new SWFObject("/assets/wheel.swf", "focus", "440", "220", "7", "#ffffff");
				so.addParam('wmode','transparent');
				so.addVariable("picurl",pics);
				so.addVariable("pictext",texts);
				so.addVariable("piclink",links);
				so.addVariable("pictime","3");
				so.addVariable("borderwidth","264");
				so.addVariable("borderheight","352");
				so.addVariable("borderw","true");
				so.addVariable("buttondisplay","true");
				so.addVariable("textheight","1");
				so.write("focus");
				</script>
			</div>
	   <div  class="cut body_half">
       <div id="focus_2"></div>
	   <img src="/assets/where.png" />
       <script type="text/javascript" src="/assets/swfobject.js"></script>
       <script type="text/javascript">
	   		var pics = "";
				var links = "";
				var texts = ""; 

				<% right_doings = Doing.where(position: "右下").all %>
				<% right_doings.each_with_index do |doing,index| %>
					pics += "<%= doing.cover_url(:normal) %>";
					links += "#nogo";
					texts += "";
					<% if index < right_doings.size - 1 %>
						pics += "|";
						links += "|";
						texts += "|";				
					<% end %>
				<% end %>

				var so = new SWFObject("/assets/wheel.swf", "focus", "440", "220", "7", "#ffffff");
				so.addParam('wmode','transparent');
				so.addVariable("picurl",pics);
				so.addVariable("pictext",texts);
				so.addVariable("piclink",links);
				so.addVariable("pictime","3");
				so.addVariable("borderwidth","164");
				so.addVariable("borderheight","252");
				so.addVariable("borderw","true");
				so.addVariable("buttondisplay","true");
				so.addVariable("textheight","1");
				so.write("focus_2");
				</script>
       </div>
   </div>
 <script type="text/javascript" src="/assets/zepto.min.js"></script>
<script src="http://cdn.staticfile.org/video.js/4.1.0/video.js"></script>
<script type="text/javascript" src="/assets/select.js"></script>