
 <div class="header">
     <img class="title" src="/assets/title.png" alt="路克海外深度游" />
   <img class="english" src="/assets/English.png" alt="English_version" />
 </div>
 <div class="logo">
     <img src="/assets/logo.png" alt="路克海外深度游"/>
 </div>
 <div class="list_banner">
   <span><h1>路克海外深度游</h1></span>
   <img src="/assets/list_banner.png" alt="路克海外深度游" />
   <p>路克文化是专门从事海外深度旅游的媒体内容制作和传播策划专业公司，旗下拥有从平面、电视一直到网络的立体推广平台。公司产品囊括高清电视等电视节目，海外深度旅专业杂志、系列指南丛书以及手机与电脑的海外旅游APP......</p>
 </div>
 <div class="list_body">
     <div class="list">
       <img src="/assets/list_pic.png"/>
	   <div class="l_c">
	       <span>路克海外深度游</span>
		   <p>路克文化是专门从事海外深度旅游的媒体内容制作和传播策划专业公司，旗下拥有从平面、电视一直到网络的立体推广平台。公司产品囊括高清电视等电视节目，海外深度旅专业杂志、系列指南丛书以及手机与电脑的海外旅游APP......</p>
	   </div>
   </div>
   <div class="list">
       <img src="/assets/list_pic.png"/>
	   <div class="l_c">
	       <span>路克海外深度游</span>
		   <p>路克文化是专门从事海外深度旅游的媒体内容制作和传播策划专业公司，旗下拥有从平面、电视一直到网络的立体推广平台。公司产品囊括高清电视等电视节目，海外深度旅专业杂志、系列指南丛书以及手机与电脑的海外旅游APP......</p>
	   </div>
   </div>
 </div>
 <footer>
      <div class="f_c">
         <div class="f_dis f_1">
       <div class="search">
	       <div id="uboxstyle">
<select name="选择目的地" id="jquery">
	<option value="选择目的地"  selected="selected">选择目的地</option>
	<option value="南京" >南京</option>
	<option value="杭州" >杭州</option>
	<option value="西安" >西安</option>
	<option value="重庆" >重庆</option>
</select>
</div>
		</div>	
          <div>			
		   <ul>
		       <li><a href="#nogo">关于我们</a></li>
			   <li><a href="#nogo">联系我们</a></li>
		   </ul>
		</div>
   </div>
   <div class="f_1">
       <ul>
		       <li><a href="#nogo">关于我们</a></li>
			   <li><a href="#nogo">联系我们</a></li>
			   <li><a href="#nogo">会员管理</a></li>
			   <li><a href="#nogo">合作伙伴</a></li>
		   </ul>
	</div>
	<div class="f_1">
       <img src="/assets/QR.png"/>
	</div>
   </div> 
 </footer>  
