@charset "utf-8";
/*
*
* webname:维度端前端网
* website:http://www.weiduduan.com/
* author:vdu
* qq:2210682628
*
*/

/* reset */
body{font:12px/18px "宋体",arial,sans-serif;color:#585858;}

body,div,p,span,form,iframe,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%; }
ul,ol,li,dl{list-style-type:none;}
em,i,dfn,cite,strong,small{font-style:normal;} 
img{border:0;}
fieldset,button,input,select,option{vertical-align:middle;font:12px/18px "宋体",arial,sans-serif;}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}

/* color */
a:link,a:visited{color:#575757;text-decoration:none;}
a:hover{color:#ef4165;text-decoration:none;}
a:active{color:#1d7400;}

/* clearfix */
.clearfix{ *zoom:1;}
.clearfix:after{ display:table; line-height:0; content:""; clear:both;}

/* public.omission */
.fl{ float:left;}            .fr{ float:right;}            .tc{ text-align:center;}      .tr{ text-align:right;} 
.fb{ font-weight:bold;}      .f12{ font-size:12px;}        h3{ font-weight:normal;}      .listop{ padding-top:15px;}
.mr10{ margin-right:10px;}   .mr15{ margin-right:15px;}    .mL10{ margin-left:10px;}     .mL15{ margin-left:15px;}
.mt10{ margin-top:10px;}     .mt15{ margin-top:15px;}      .mb10{ margin-bottom:10px;}   .mb15{ margin-bottom:15px;}

/* weiduduan */
.weiduduan{ width:350px; margin:15px auto 0 auto; padding:30px 181px 60px 181px;background:#CFDFEF;}
#uboxstyle .select_box{width:181px;height:26px;}
#macstyle .select_box{width:91px;height:26px;}
#tm2008style .select_box{width:102px;height:26px;}
/* uboxstyle */
#uboxstyle div.tag_select,#uboxstyle div.tag_select_hover,#uboxstyle div.tag_select_open,#uboxstyle ul.tag_options,#uboxstyle ul.tag_options li,#uboxstyle ul.tag_options li.open_hover,#uboxstyle ul.tag_options li.open_selected{background:url(../images/ubox-select.png) no-repeat;}
#uboxstyle div.tag_select{display:block;color:#79A2BD;width:181px;height:26px;background-position:0 0;padding:0 10px;line-height:26px;overflow:hidden;}
#uboxstyle div.tag_select_hover{display:block;color:#79A2BD;width:181px;height:26px;background-position:0 0px;padding:0 10px;line-height:26px;overflow:hidden;}
#uboxstyle div.tag_select_open{display:block;color:#79A2BD;width:181px;height:26px;background-position:0 0;padding:0 10px;line-height:26px;}
#uboxstyle ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;background-position:right bottom;width:181px;padding:0 0 5px;margin:0;}
#uboxstyle ul.tag_options li{background-position:0 -27px;display:block;width:181px;padding:0 0px;height:26px;text-decoration:none;line-height:26px;color:#79A2BD;overflow:hidden;;padding-left:10px;}
#uboxstyle ul.tag_options li.open_hover{background-position:0 -54px;color:#fff;padding-left:10px;}
#uboxstyle ul.tag_options li.open_selected{background-position:0 -27px;color:#fff;padding-left:10px;}
/* macstyle */
#macstyle div.tag_select,#macstyle div.tag_select_hover,#macstyle div.tag_select_open,#macstyle ul.tag_options,#macstyle ul.tag_options li,#macstyle ul.tag_options li.open_hover,#macstyle ul.tag_options li.open_selected{background:url(../images/mac-select.gif) no-repeat}
#macstyle div.tag_select{display:block;color:#000;width:71px;height:26px;background-position:0 -26px;padding:0 10px;line-height:26px;}
#macstyle div.tag_select_hover{display:block;color:#000;width:71px;height:26px;background-position:0 0;padding:0 10px;line-height:26px;}
#macstyle div.tag_select_open{display:block;color:#000;width:71px;height:26px;background-position:0 -48px;padding:0 10px;line-height:26px;}
#macstyle ul.tag_options{position:absolute;margin:-4px 0 0;list-style:none;background-position:left bottom;width:100px;padding:0 0 5px;margin:0;width:71px;}
#macstyle ul.tag_options li{background-position:-91px 0;background-repeat:repeat-y;display:block;width:61px;padding:0 0 0 10px;height:26px;text-decoration:none;line-height:26px;color:#000;}
#macstyle ul.tag_options li.open_hover{background-position:-162px 0;color:#000}
#macstyle ul.tag_options li.open_selected{background-position:-162px -26px;color:#fff}
/* tm2008style */
#tm2008style div.tag_select,#tm2008style div.tag_select_hover,#tm2008style div.tag_select_open,#tm2008style ul.tag_options,#tm2008style ul.tag_options li,#tm2008style ul.tag_options li.open_hover,#tm2008style ul.tag_options li.open_selected{background:url(../images/tm2008-select.gif) no-repeat;}
#tm2008style div.tag_select{display:block;color:#000;width:82px;height:22px;background-position:0 0;padding:0 10px;line-height:22px;}
#tm2008style div.tag_select_hover{display:block;color:#000;width:82px;height:22px;background-position:0 -22px;padding:0 10px;line-height:22px;}
#tm2008style div.tag_select_open{display:block;color:#000;width:82px;height:22px;background-position:0 -44px;padding:0 10px;line-height:22px;}
#tm2008style ul.tag_options{position:absolute;margin:0;list-style:none;background-position:left bottom;width:100px;padding:0 0 1px;margin:0;width:181px;}
#tm2008style ul.tag_options li{background-position:-102px 0;background-repeat:repeat-y;display:block;width:61px;padding:0 10px;height:22px;text-decoration:none;line-height:22px;color:#000;}
#tm2008style ul.tag_options li.open_hover{background-position:0 -88px;color:#000}
#tm2008style ul.tag_options li.open_selected{background-position:0 -66px;color:#19555F}
/* 维度端前端网整理 http://www.weiduduan.com */