<div class="search">
 	<div id="uboxstyle">
		<select name="选择目的地" id="jquery">
			<option value="选择目的地"  selected="selected">选择目的地</option>
			<% Product.pluck(:city).uniq.each do |city| %>
				<option value="<%=city%>" ><%=city%></option>
			<% end %>
		</select>
	</div>
</div>	