<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>路克深度游</title>

    <%= stylesheet_link_tag "admin_devise", "data-turbolinks-track" => true %>


</head>

<body>

    <%= yield %>

    <%= javascript_include_tag "admin_devise", "data-turbolinks-track" => true %>

</body>

</html>
