<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>路克深度游</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/video.js/4.1.0/video-js.min.css">
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script src="http://cdn.staticfile.org/video.js/4.1.0/video.js"></script>
<link href="/assets/css.css" rel="stylesheet" type="text/css"/>

</head>
<body>
   <div class="header">
       <a href="index.html"><img class="title" src="/assets/title.png" alt="路克海外深度游" /></a>
	   <a href="#nogo"><img class="english" src="/assets/English.png" alt="English_version" /></a>
   </div>
   <div class="logo">
   	<img src="/assets/logo.png" alt="路克海外深度游"/>
   </div>


   <div id="main_body">
		<%= yield %>
   <footer>
        <div class="f_c">
         	<div class="f_dis f_1">
       			<div class="search">
			       	<input id="searchKey" type="text" value="" placeholder="Search" ></input>
				   		<a href="" onclick=""></a>
						</div>	
          <div>			
			   <ul>
			       <li><a href="#nogo">关于我们</a></li>
				   <li><a href="#nogo">联系我们</a></li>
			   </ul>
			</div>
	   </div>
	   <div class="f_1">
	       <ul>
			       <li><a href="#nogo">关于我们</a></li>
				   <li><a href="#nogo">联系我们</a></li>
				   <li><a href="#nogo">会员管理</a></li>
				   <li><a href="#nogo">合作伙伴</a></li>
			   </ul>
		</div>
		<div class="f_1">
	       <img src="/assets/QR.png"/>
		</div>
		</div>  
  </footer> 
</body>
</html>