<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>路克深度游</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/video.js/4.1.0/video-js.min.css">
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<script src="http://cdn.staticfile.org/video.js/4.1.0/video.js"></script>
<link href="/assets/css.css" rel="stylesheet" type="text/css"/>

</head>
<body>


	<%= yield %>
   

</body>
</html>